@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  scroll-behavior: smooth;
}

:root {
  --textColor: #232323;

  --wide: 80%;
  --sides: 10%;

  --pass: #0cd570;
  --theme: #ff914c;
  --primary: rgb(136, 197, 47);
  --bg: #232520;
  --secondary: #232520;
  --gold: #846E3B;
  --input: rgb(240, 244, 249);
}

body::-webkit-scrollbar {
  width: 10px;
  background: lightgray;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 10px;
}

.clip-triangle {
  rotate: 270deg;
  /* clip-path: polygon(0 0, 100% 50%, 0 100%); */
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.clip-left-skew {
  clip-path: polygon(0% 0%,
      /* pointy top-left */
      100% 0%,
      /* top-right */
      100% 100%,
      /* bottom-right */
      20% 100%
      /* sunken bottom-left */
    );
}

.clip-square-skew {
  clip-path: polygon(0% 0%,
      /* pointy top-left */
      100% 0%,
      /* top-right */
      100% 100%,
      /* bottom-right */
      0% 100%
      /* sunken bottom-left */
    );
}

#big {
  font-weight: normal;
  font-family: "Bangers", system-ui;
}

#pacify {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}

#hor,
#topNav {
  padding-left: var(--sides);
  padding-right: var(--sides);
}

#topNav {
  padding-top: 1rem;
}

#topNav header {
  padding: 0 !important;
}

#items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#items250 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5vw;
}

#items250No {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2vw;
}

#items250No a {
  border-bottom: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

#fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  width: 100px;
  background: black;
  height: 100px;
}


#horMobile,
#horMargin {
  width: var(--wide);
  margin: auto;
}

#rotate {
  animation: rotate360 10s linear infinite;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* @media all and (max-width:1050px) {
  main{
    padding-bottom: 10vh;
  }
} */


@media all and (max-width:900px) {
  :root {
    --sides: 5%;
  }

  #items250 {
    gap: 4vh;
  }

  #items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .clip-left-skew {
    clip-path: polygon(0% 0%,
        /* pointy top-left */
        100% 0%,
        /* top-right */
        100% 100%,
        /* bottom-right */
        0% 100%
        /* sunken bottom-left */
      );
  }
}

@media all and (max-width : 500px) {
  #horMobile {
    width: 100%;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;